<ul id="top_ul">
     <li id="post_link">
          <%= link_to posts_path do %>
            <label>投稿</label>
          <% end %>
     </li>
     <li id="weight_link">
          <%= link_to record_path  do %> 
            <label>健康チェック</label>
          <% end %>
     </li>
     <li id="search_link">
          <%= link_to "#" do %>
            <label>検索</label>
          <% end %>
     </li>
     <li id="log_link">
           <%= link_to login_path do %> 
             <label>ログイン</label>
           <% end %>
     </li>
</ul>