<ul id="top_ul">
     <li id="post_link"><%= link_to "投稿","#" %> </li>
     <li id="weight_link"><%= link_to "健康チェック" %> </li>
     <li id="search_link"><%= link_to "検索","#" %> </li>
     <li id="log_link"> <%= link_to "ログイン","#" %> </li>
</ul>