<%= provide(:title,"健康チェック") %>
<!--メインタイトル-->
<div id="main-head"　class="text-center;">
    <h1>猫ちゃん健康チェック</h1>
    <p class="text-primary text-center">
        猫ちゃんの体重を測って、健康状態を把握しよう<br>
        理想の体重の目指し健康を維持してあげましょう
    </p>
</div>
<div class="record_main">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div id="record_area">
                <div id="info">
                    <h5>体重チェックする猫ちゃんを選んでください</h5>
                </div>
                <!-- 選択関連 -->
                <% if logged_in? %>
                      <!--登録猫いなかったら -->
                        <% if @cats.count ==0 %>
                          <h3>登録猫ちゃんがいません</h3>
                        <% else %>
                          <% @cats.each do |cat| %>
                          <select id="select" class="form-control">
                            <option value="<%= cat.cat_name %>"><%= cat.cat_name %></option>
                            <option value="すべて">全ての猫ちゃん</option>
                          </select>    
                         <!--each終了-->
                        <% end %>
                        <!--/登録猫いなかったら --> 
                      <% end %>
                      <table class="table">
                        <th>猫名</th>
                      </table>
                <!--ここまでログイン済み処理-->
                <% else %>
                   <div id="loginess">
                       <h4>ログインされてません</h4>
                   </div>
                <% end %>  
                  <!--ログインしてるか->
                <!-- /選択関連 -->
            </div>
        </div>
    </div>
</div>