<%= provide(:title,"投稿一覧") %>

<div id="post_index_main">
    <div id="post_index_head">
        <h1>投稿一覧</h1>
        <p class="text-primary">
        　皆さんの猫ちゃんについての相談や質問、日々の出来事など、<br>
        　なんでも投稿しよう
        </p>
    </div>
<!--メニュー -->
    <div id="post_index_menu">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <% if logged_in? %>
                      <%= link_to "新規投稿", new_user_post_path(current_user),class:"btn btn-primary",style:"width:200px;margin-right:50px;margin-top:40px;" %>
                    <% else %>
                      <div class="alert alert-warning">投稿するにはログインしてください</div>
                    <% end %>
                </div>
                <div class="col-md-4"><%=will_paginate @posts %></div>
                <div class="col-md-5"></div>
            </div>
        </div>
    </div>
    <!--  編集モーダル-->
    <div id="post_edit" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true"></div>
    
<!--投稿エリア-->    
    <div class="container">
        <div class="row">
<!-- 投稿覧 -->        
            <div class="col-md-9">
                <div id="post_index_left">
                    <% if logged_in? %>
                     <label>投稿コメントにしたい場合はタイトルを押してください</label>
                    <% else %>
                    　<label>投稿するにはログインが必要です。</label>
                    <% end %>
                    <label id="phone_title">表示は上からタイトル、カテゴリー、内容です。</label>
<!--投稿一覧-->     <table id="post_index_table">
                      <thead>
                          <tr>
                             <th>
                               <div class="row">
                                   <div class="col-md-2"></div>
                                   <div class="col-md-5"><label id="td_title">タイトル</label></div>
                                   <div class="col-md-5"><label id="td_category">カテゴリー</label></div>
                             </th>      
                          </tr>
                      </thead>
                      <tbody>
                          <%= render @posts %>
                      </tbody>
                    </table>
                </div>      
            </div>
<!--投稿中央 -->            
            <div class="col-md-0">
                <div id="post_index_center"></div>
            </div>
<!--投稿右-->
            <div class="col-md-3">
                 <div id="post_index_right"></div>
            </div>
        </div>
    </div>
