@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 80px;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
header{
    #header-ul{
      list-style:none;
      li{
        display:inline-block;
        padding:0;
        margin-right:100px;
        h3{color:#fff;}
      }
      
    }
    #header-right{
    text-align:left;
    #google{color:#fff;font-size:16px;margin-left:5px;}
    #google span{display:none;}
    #facebook{color:#fff;;font-size:16px;}
    #facebook span{display:none;}
  }
}
#logo {
  float: left;
  margin-right: 20px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
/*-----------topページ------------*/
.slideshow{     /*スライドショー関連*/
  width:100%;
  margin:auto;
  margin-bottom:0;
  .img_text{
     width:100%;
     position: relative;
     p{
       position: absolute;/*絶対配置*/
       color: white;/*文字は白に*/
       top: 50%;
       left: 40%;
       font-family :Quicksand, sans-serif;
       margin:0;
       padding:0;
       font-size:40px;
       font-weight:bold;
     }
     img{width:100%;}
  }
  /*スライドショー関連ここまで*/
}
#top_maininfo{  /*トッページインフォメーション*/
  　margin:0;
  　padding:0;
  　text-align:center;
  h1{
    background-color:#c0c0c0;
    color:#fff;
    font-size:24px;
    font-weight:body;
    padding:16px;
    border-left:5px solid brown;
  }
  p{
    color:blue;
    font-size:15px;
    font-weight:bold;
    text-align:center;
  }
}
  /*トッページインフォメーションここまで*/
  #top_info{            /*トッページお知らせ*/
      h1{
        background-color:#c0c0c0;
        color:#fff;
        font-size:24px;
        font-weight:body;
        padding:16px;
        border-left:5px solid brown;
        }
    }
     /*トッページお知らせここまで*/
/*-----------topページ------------*/
/* ******************************************:スマートフォン処理********************************* */
@media screen and (max-width: 767px){
  body {
    padding-top: 20px;
}

  /* header */
  #logo{
    float:none;
  }
  .nav{
    text-align:center;
    font-size:24px;
    li{font-weight:bold;letter-spacing:10px;}
  }
  #header-right{
    text-align:left;
    #google{background-color:red;color:#fff;font-size:16px;}
    #google span{margin-left:120px;}
    #facebook{background-color:blue;color:#fff;;font-size:16px;}
    #facebook span{margin-left:120px;}
  }
/* /header */
/*-----top--------------------------------------------*/
.slideshow{display: none;}
 /*-----------topページ------------*/
}