/*---------show--------------*/
#message_show_main{
    margin-bottom:30px;
    text-align:center;
    h1{
        color: #fff;
        font-weight:bold;
        margin: 90px 0 10px 0;
        letter-spacing: 9px;
    }
    p{
        font-weight:bold;
        font-size: 20px;
        letter-spacing: 9px;
    }
}
/*--当該投稿--*/
#info_area{
    width:100%;
    background-color:#fff;
    border-radius:8px;
    padding-bottom:8px;
    margin-bottom:40px;
    #memo{text-align:center;color:blue;font-weight:bold;padding:5px;}
}
#post_data{
    width:90%;
    border-radius:9px;
    margin-left:5%;
    margin-bottom:1%;
    padding-right:5px;
    #post-title{
        padding:8px;
    }
    #post-name{
        padding: 0 0 8px 0 ;
    }
    #post-content{
        padding: 0 0 8px 0 ;
    }
    span{
        color:#444;
    }
    img{
        border-radius:100px;
    }
    #border{border-bottom: dotted 2px #c0c0c0};
    #post_content{
        p{
            color: #eee;
        }
    }
}
/*--メッセージ入力form--*/
#input_area{
    width:100%;
    #input{
        width:30%;
        background-color:#e0e0e0;
        
    }
    
}
/*--投稿に対するメッセージエリア--*/
#post_area{
    width:100%;
    height: auto;
    background-color:#fff;
    border-radius:12px;
    #div{color:#c0c0c0;text-align:center;font-weight:bold;font-size:16px;padding-top:8px;}
/*--テーブル-- */    
    #message_table{
        width:100%;
        td{
            #message_content{
                img{margin-top:-50%;border-radius:50%;}
            }
            ul{
                list-style: none;
                margin: 16px 0;
                padding:0;
                li{
                    text-decoration: none;
                    display: inline-block;
                    margin-bottom: 10px;
                }
                #message_list2{
                   width:80%;    
                   position: relative;
                   display: inline-block;
                   margin: 1.5em 0 1.5em 15px;
                   padding: 30px 10px;
                   min-width: 120px;
                   max-width: 100%;
                   color: #555;
                   font-size: 16px;
                   background-color: #F5DEB3;
                   border-radius:9px;
                  
                    
                }
                #message_list2:before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -30px;
                    margin-top: -15px;
                    border: 15px solid transparent;
                    border-right: 15px solid #F5DEB3;
                }
                #message_name{
                    margin-top:-5%;
                }
                
            }
        }
    }
}
#empty{
    clear:both;
    overflow:hidden;
}


/*---------/show--------------*/

/*--------スマートフォン----------------*/
@media screen and (max-width: 767px){
    #message_show_main{
        margin-bottom:15px;
        h1{
            margin-top:150px;
            font-size:24px;
        }
    }
    
   #message_text{margin-top:10px;margin-left:10%;width:100%;}  
   #message_submit{margin-top:10px;width:100%;}
   #posts_back{width:100%;}
}