body{background-color:pink;}
/*-----  覧 -------------- */
#post_index_main{
    margin:40px 0;
    width:100%;
    text-align:center;
    margin-top:80px;
}
#post_index_main{
    h1{
        color:#fff;
        font-weight:bold;
        letter-spacing :10px;
        margin-bottom:40px;
    }
    p{
        font-size:22px;
        letter-spacing :8px;
        font-weight:bold;
    }
}
#post_index_menu{
    margin-bottom:10px;
    span{
        font-size:16px;
        font-weight:bold;
    }
}
#post_index_left{
    background-color:#fff;
    border-radius:9px;
    height:auto;
    padding: 30px 60px 100px 0;
    #phone_title{display: none;}
}
#post_index_center{
    display:none;
    height:400px;
}
#post_index_right{
    background-color:red;
    border-radius:9px;
    height:400px;
}
#post_index_table{    /*テーブル*/
    width:100%;
    margin: 10px 0 0 15px;
　 th {margin-left:80px;}   
　 tr{margin-bottom:60px;}
   td{
        width:100%;
        background-color:#eee;
        border-radius:9px;
        img{
            border-radius:100px;
            border:1px solid orange;
            margin-top:1px;
        }
        label{
             padding:10px;
             margin-right:35%;
             font-size:18px;
             font-weight:bold;
             height:20px;
             color:blue;
        }
        span{
             margin-right:30%;
             p{font-size:12px;}
             
        }
    
     #table-border{
           border-bottom:1px dotted #c0c0c0;
           width:100%;
        }
      
    }
}

/*---------/一覧 -------------*/
/*----------新規-------------- */
#new_post_head{
    margin-top: 100px;
    h1{
        color: #fff;
        font-weight: bold;
        letter-spacing: 9px;
    }
}
#new_posts_area{
    background-color:#fff;
    border-radius: 9px;
    height: 450px;
    margin-bottom: 10px;
    padding: 30px 30px 60px 30px;
    text-align: center;
    
}
#new_post_back{
    text-align: center;
    margin-right:600px;
}

/*----------/新規-------------- */

/* ******************************************:スマートフォン処理********************************* **********************/
@media screen and (max-width: 767px){
    /*-----  覧 -------------- */
#post_index_main{
    
    p{
        font-size:16px;
        letter-spacing :8px;
        font-weight:bold;
    }
}
#post_index_table{    /*テーブル*/
  margin-left:30px;
  #td_title{display:none;}
  #td_category{display:none;}
  #content_title
  {
      margin-left:25%;
      font-size:14px;
      span{display:block;}
      
  }
  #content_category{
      margin-left:25%;
      font-size:14px;
      span{display:block;}
  }
}    
#post_index_left{
    background-color:#fff;
    border-radius:9px;
    height:auto;
    padding: 30px 60px 100px 0;
    #phone_title{display:block; color:orange}
}
    
    /*-----  /覧 -------------- */
}