
/* 見出し部分 */
#main-head{
    margin:3% 0;
    h1{font-weight:bold;color:#fff;letter-spacing:9px;}
    p{font-size:18px;font-weight:bold;};
}
/*メインエリア */
#record_area{
    background-color:#fff;
    height:300px;
}
/*インフォメーション*/
#info{
    font-size:16px;
    padding:8px;
    text-align:center;
}
/***************************スマートフォン****************************************/
@media screen and (max-width: 767px){
    #main-head{
       margin-top:10%;  
    }
}