
/* 見出し部分 */
#main-head{
    margin:5% 0;
    h1{font-weight:bold;color:#fff;letter-spacing:9px;}
    p{font-size:18px;font-weight:bold;};
}
/*メインエリア */
#record_area{
    background-color:#c0c0c0;
    height:auto;
    padding-bottom:5%;
}
/*インフォメーション */
#info{
    font-size:16px;
    padding:8px;
    text-align:center;
}
/*selectbox */
#select{
    width:50%;
    margin-left:3%;
}
.form-inline{
    margin-bottom:2%;
    
}
/*テーブル*/
table{
    background:#fff;
    border-radius:8px;box-shadow:3px 3px 3px cyan;
    td{font-size:20px;font-weight:bold;}
    img{
        border-radius:50%;
    }
    span{
        font-size:18px;
    }
    #weight{border-radius:0;}
   
}
/*非ログイン*/
#loginess{
    text-align: center;
    p{border:3px solid #fff;}
}
/*結果見出し*/
#result_head{
    h1{color:#fff;font-weight:bold;}
}
/***************************スマートフォン****************************************/
@media screen and (max-width: 767px){
    #main-head{
       margin-top:22%;  
       h1{font-size:22px;}
       p{font-size:18px;}
    }
h5{margin-right:12%;}    
/*selectbox */
#select{
    width:100%;
    margin:0;
    margin-bottom:2%;
}  
#btn{
    width:100%;
}
/*テーブル*/
table{
    td{font-size:12px;font-weight:bold;}
    img{
        border-radius:50%;
    }
    span{
        font-size:12px;
        font-weight:none;
    }
   
}
/*結果見出し*/
#result_head{
    margin-top:20%;
   h1{font-size:16px;}    
}
/*結果のテーブル */
#result_table{
   
}
    
}