// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#plan_head{
    color:#fff;
    margin:5% 0;
    h1{margin-bottom:3%;font-weight:bold;}
}
#plan_main{
    width:100%;
    background-color:#c0c0c0;
}
#new_plan{
    h1{
        color:#c0c0c0;
        font-weight:bold;
        font-size:16px;
        border-bottom: 1px solid #c0c0c0;
        padding:6px;
        margin-top:-20px;
    }
    background-color:#fff;
    width: 100%;
    padding: 40px 40px 40px 60px;
    margin-bottom:2%;
}
#edit_plan{
    background-color:#fff;
    padding:30px 0;
    text-align:center;
    width:100%;
    
    
    h4{
        color:#c0c0c0;
        font-weight:bold;
        margin-top:-5%;
        padding:30px 0;
    
    }
    
}
#plan_table{
    table-layout: fixed;
    th{
        background-color:orange;
        
    }
    #th{table-layout: fixed;}
    
       
}
.plan_p{
    width:100%;
    table-layout: fixed;
    word-wrap: break-word;

    
}
#delete_p{
    width:100%;
    table-layout: fixed;
    word-wrap: break-word;
}
#button_area{
  margin-top:-8%;
}
.date_form{display:none;margin-top:-1%;}
.area_form{display:none;}
#button1{margin: 3% 0 2% 0;}
#button2{margin: 3% 0 2% 0%;display:none;}
#form_submit{display:none;}
#sc-link{margin-left:-10%;}

/********************************スマートフォン************************************/
@media screen and (max-width: 767px){
    #plan_head{
    margin:20% 0 15% 0;
    h1{font-size:22px;}
   }
   #edit_plan{
    h4{font-size:22px;}
  }
  #plan-link{text-align:center;}
}
/************************************pc******************************************/
@media screen and (min-width: 1024px){
    #plan-link{margin-left:10%;}
    #edit_plan{
    h4{font-size:28px;margin-top:2%;}
   }
   #plan_table{
       th{
           text-align:center;
       }
   }

}
/*************************************タブ**********************************/
@media screen and (min-width: 767px) and (max-width: 1024px){
    #sc-link{
        margin-left:2%;
    }
}
    