// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#plan_head{
    background-color:#c0c0c0;
    margin-top:5%;
}
#plan_main{
    width:100%;
}
#new_plan{
    h1{
        color:#c0c0c0;
        font-weight:bold;
        font-size:16px;
        border-bottom: 1px solid #c0c0c0;
        padding:6px;
        margin-top:-20px;
    }
    background-color:#fff;
    width: 100%;
    padding: 40px 60px 80px 60px;
    margin-bottom:2%;
}
#edit_plan{
    background-color:#fff;
    padding:30px 0;
    text-align:center;
    
}
#plan_table{
    th{ background-color:orange;}
       
}
.date_form{display:none;margin-top:-5%;}
.area_form{display:none;}
#button1{margin: 0 0 2% 2%;}
#button2{margin: 0 0 2% 2%;display:none;}
#form_submit{display:none;}