// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_login_area{
    width:60%;
    height:250px;
    background-color:#fff;
    margin-left:20%;
    border-radius:9px;
    padding-top:8px;
}
#new_login_foot{
    text-align:center;
    margin-right:46%;
    margin-top:10px;
    
}
.checkbox-login {
  width: auto;
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}
/* *****************************************:スマートフォン処理********************************* */
@media screen and (max-width: 767px){
  /* ログイン画面 */
  #new_session_head{
    margin-top:300px;
  }
  #new_login_area{
    width:100%;
    margin:0;
  }
  .btn{
      padding:10p;
  }
  /* /ログイン画面 */
}
    