// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 #tops{
       .slideshow{
           margin-top:-2%;
       }
    }
#top_ul{
    list-style:none;
}    
/* top linkボタン*/   
#post_link {
    
     a{
       width:250px;
    height:250px;
    background-color:#0074bf;
    box-shadow:8px 8px 8px #fff;
     position: absolute;
     border-radius:50%;
     text-align:center;
     top: 60%;
     left: 3%;
     font-size:28px;
     color:#f2cf01;
     &:hover{
         background-color:pink;
     }
     label{
         margin-top:40%;
        
     }
  }
  a:focus{
     outline: none; 
  }
}
#weight_link{
   
     a{
        width:250px;
        height:250px;
        background-color:#0074bf;
        box-shadow:8px 8px 8px #fff;
        position: absolute;
        border-radius:50%;
        text-align:center;
        top: 60%;
        left: 29%;
        font-size:28px;
        color:#f2cf01;
         label{
         margin-top:40%;
         }
     &:hover{
         background-color:pink;
     }
   }
    a:focus{
     outline: none; 
  }
}
#search_link{
   
     a{
         width:250px;
        height:250px;
        background-color:#0074bf;
        box-shadow:8px 8px 8px #fff;
         position: absolute;
         border-radius:50%;
         text-align:center;
         top: 60%;
         left: 54%;
         font-size:28px;
         color:#f2cf01;
          label{
            margin-top:40%;
         }
     
     &:hover{
         background-color:pink;
     }
    }
     a:focus{
     outline: none; 
  }
}
#log_link{
   
     a{
         width:250px;
         height:250px;
         background-color:#0074bf;
         position: absolute;
         border-radius:50%;
         box-shadow:8px 8px 8px #fff;
         top: 60%;
         left: 79%;
         font-size:28px;
         text-align:center;
         color:#f2cf01;
           label{
            margin-top:40%;
         }
        &:hover{
         background-color:pink;
       }
    }
     a:focus{
     outline: none; 
  }
}
#phone_top_menu{
    display:none;
}
/* top linkボタ終了*/
/****************************スマートフォン*********************************/
@media screen and (max-width: 767px){
    #tops{
        margin-top:15%;
    }
    .slideshow{
        .img_text{
            p{
                font-size: 18px;
                left:20%;
            }
            img{
                padding-bottom:3%;
            }
        }
    }
    #top_maininfo{
        margin-top:-8%;
    }
#top_ul{
    display:none;
}
#phone_top_menu{
    display:inline;
    margin-top:22%;
    h2{
        background-color: #c0c0c0;
        border-bottom: 4px solid red;
        font-size:18px;
        color:#0000bb;
        margin-top:-32%;
        padding:40px;
        margin-bottom:30%;
        font-weight:bold;
    }
   
}
 /* top linkボタン*/  
#phone_ul{
    list-style:none;width:100%;
    margin:-25% 0 0 0;padding:0 5%;
}    
#post_link2 {
    width:150px;
    height:150px;
    display:inline-block;
    position:relative;
    background-color:#0074bf;
    border-radius:50%;
    box-shadow:6px 6px 6px #fff;
    margin-right:8%;
    margin-bottom:5%;
     a{
        position:relative;
        top:35%;
        left:38%;
        font-size:20px;
        font-weight:bold;
        color:#f2cf01;
        text-decoration:none;
     }
     &:hover{
         background-color:pink;
     }
}
#weight_link2{
    width:150px;
    height:150px;
    display:inline-block;
    background-color:#0074bf;
    box-shadow:6px 6px 6px;
     border-radius:50%;
     a{
        position:relative;
        top:35%;
        left:10%; 
        font-size:20px;
        font-weight:bold;
        color:#f2cf01;
        text-decoration:none;
     }
     &:hover{
         background-color:pink;
     }
}
#search_link2{
    width:150px;
    height:150px;
    display:inline-block;
    background-color:#0074bf;
    box-shadow:6px 6px 6px #fff;
     border-radius:50%;
     margin-right:8%;
     a{
        position:relative;
        top:38%;
        left:34%; 
        font-size:20px;
        font-weight:bold;
        color:#f2cf01;
        text-decoration:none; 
       
     }
     &:hover{
         background-color:pink;
     }
}
#log_link2{
    width:150px;
    height:150px;
    display:inline-block;
    background-color:#0074bf;
     border-radius:50%;
     box-shadow:6px 6px 6px #fff;
      margin-bottom:5%;
     a{
        position:relative;
        top:38%;
        left:19%;  
        font-size:20px;
        font-weight:bold;
        color:#f2cf01;
        text-decoration:none;
     }
     &:hover{
         background-color:pink;
     }
}
/* top linkボタ終了*/
}
/******************スマホ横向き***********************/
@media screen and (min-width: 660px) and (max-width: 768px) {
  #post_link2 {
    margin-left:0%;  
    width: 150px;
    height: 150px; }

  #weight_link2 {
    margin-left: 10%; }
    
  #search_link2{
    margin-left: 0%; }    

  #log_link2 {
    margin-left:10%; 
    margin-top:-50%;
    a{
        position:relative;
        top:2%;
        left:10%;  
        font-size:20px;
        font-weight:bold;
        color:#f2cf01;
        text-decoration:none;
     }  
  } 
  #phone_top_menu{
     h1{margin-top:40px;}
  }  
}
/*************タブレット**********************/
@media screen and (min-width: 768px) and (max-width: 1024px){
  ;
  background-color: #0074bf;
  box-shadow: 8px 8px 8px #fff;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  top: 60%;
  left: 3%;
  font-size: 28px;
  color: #f2cf01; }
  #post_link a:hover {
    background-color: pink; }
  #post_link a label {
    margin-top: 40%; }
#post_link a:focus {
  outline: none; }

#weight_link a {
  width: 250px;
  height: 250px;
  background-color: #0074bf;
  box-shadow: 8px 8px 8px #fff;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  top: 60%;
  left: 29%;
  font-size: 28px;
  color: #f2cf01; }
  #weight_link a label {
    margin-top: 40%; }
  #weight_link a:hover {
    background-color: pink; }
#weight_link a:focus {
  outline: none; }

#search_link a {
  width: 250px;
  height: 250px;
  background-color: #0074bf;
  box-shadow: 8px 8px 8px #fff;
  position: absolute;
  border-radius: 50%;
  text-align: center;
  top: 60%;
  left: 54%;
  font-size: 28px;
  color: #f2cf01; }
  #search_link a label {
    margin-top: 40%; }
  #search_link a:hover {
    background-color: pink; }
#search_link a:focus {
  outline: none; }

#log_link a {
  width: 250px;
  height: 250px;
  background-color: #0074bf;
  position: absolute;
  border-radius: 50%;
  box-shadow: 8px 8px 8px #fff;
  top: 60%;
  left: 79%;
  font-size: 28px;
  text-align: center;
  color: #f2cf01; }
  #log_link a label {
    margin-top: 40%; }
  #log_link a:hover {
    background-color: pink; }
#log_link a:focus {
  outline: none; }

#phone_top_menu {
  display: none; }

/* top linkボタ終了*/
/****************************スマートフォン*********************************/
@media screen and (max-width: 767px) {
   
  #tops {
    margin-top: 15%; }
  .slideshow{
      width:100%;
      max-width:90%;   
      margin-left:5%;
  }
      
  .slideshow .img_text p {
    font-size: 18px;
    left: 20%; }
  .slideshow .img_text img {
    padding-bottom: 3%; }

  #top_maininfo {
    margin-top: -8%; }

  #top_ul {
    display: none; }

  #phone_top_menu {
    width:100%;  
    display: inline;
    margin-top: -10%; 
    margin-right:-3%;  
  }
    #phone_top_menu h2 {
      background-color: #c0c0c0;
      border-bottom: 4px solid red;
      width:100%;
      max-width:100%;   
      font-size: 22px;
      letter-spacing:20px;
      color: #fff;
      margin-top: -32%;
      padding: 40px;
      margin-bottom: 30%;
      font-weight: bold; }

  /* top linkボタン*/
  #phone_ul {
    list-style: none;
    width: 100%;
    margin:0;
    margin-top:-15%;
    padding: 0 5%; }

  #post_link2 {
    width: 150px;
    height: 150px;
    display: inline-block;
    position: relative;
    background-color: #0074bf;
    border-radius: 50%;
    box-shadow: 6px 6px 6px #fff;
    margin-right: 8%;
    margin-bottom: 5%; }
    #post_link2 a {
      position: relative;
      top: 35%;
      left: 30%;
      font-size: 20px;
      font-weight: bold;
      color: #f2cf01;
      text-decoration: none; }
    #post_link2:hover {
      background-color: pink; }

  #weight_link2 {
    width: 150px;
    height: 150px;
    display: inline-block;
    background-color: #0074bf;
    box-shadow: 6px 6px 6px;
    border-radius: 50%; }
    #weight_link2 a {
      position: relative;
      top: 35%;
      left: 12%;
      font-size: 20px;
      font-weight: bold;
      color: #f2cf01;
      text-decoration: none; }
    #weight_link2:hover {
      background-color: pink; }

  #search_link2 {
    width: 150px;
    height: 150px;
    display: inline-block;
    background-color: #0074bf;
    box-shadow: 6px 6px 6px #fff;
    border-radius: 50%;
    margin-right: 8%; }
    #search_link2 a {
      position: relative;
      top: 38%;
      left: 26%;
      font-size: 20px;
      font-weight: bold;
      color: #f2cf01;
      text-decoration: none; }
    #search_link2:hover {
      background-color: pink; }

  #log_link2 {
    width: 150px;
    height: 150px;
    display: inline-block;
    background-color: #0074bf;
    border-radius: 50%;
    box-shadow: 6px 6px 6px #fff;
    margin-bottom: 5%; }
    label{
        margin-left:4%;
    }
    #log_link2 a {
      position: relative;
      top: 38%;
      left: 19%;
      font-size: 20px;
      font-weight: bold;
      color: #f2cf01;
      text-decoration: none; }
    #log_link2:hover {
      background-color: pink; }

  /* top linkボタ終了*/ }
  #top_maininfo h{
      margin-left:4%;
     max-width:90%;        
  }
  @media screen and (min-width: 660px) and (max-width: 736px) {
    
       #phone_top_menu h2 {
           margin-top:-8%;
       }
     
  
}

/*************phone 横**********************/
@media screen and (min-width: 736px) and (max-width: 830px) {
    #phone_top_menu {
        display:none;
    }
     #top_ul{
          display:block;
      }
      #post_link {
    
     a{
       width:150px;
    height:150px;
    background-color:#0074bf;
    box-shadow:8px 8px 8px #fff;
     position: absolute;
     border-radius:50%;
     text-align:center;
     top: 60%;
     left: 2%;
     font-size:20px;
     color:#f2cf01;
     &:hover{
         background-color:pink;
     }
     label{
         margin-top:40%;
        
     }
  }
  a:focus{
     outline: none; 
  }
}
#weight_link{
   
     a{
        width:150px;
        height:150px;
        background-color:#0074bf;
        box-shadow:8px 8px 8px #fff;
        position: absolute;
        border-radius:50%;
        text-align:center;
        top: 60%;
        left: 27%;
        font-size:20px;
        color:#f2cf01;
         label{
         margin-top:40%;
         }
     &:hover{
         background-color:pink;
     }
   }
    a:focus{
     outline: none; 
  }
}
#search_link{
   
     a{
         width:150px;
        height:150px;
        background-color:#0074bf;
        box-shadow:8px 8px 8px #fff;
         position: absolute;
         border-radius:50%;
         text-align:center;
         top: 60%;
         left: 52%;
         font-size:20px;
         color:#f2cf01;
          label{
            margin-top:40%;
         }
     
     &:hover{
         background-color:pink;
     }
    }
     a:focus{
     outline: none; 
  }
}
#log_link{
   
     a{
         width:150px;
         height:150px;
         background-color:#0074bf;
         position: absolute;
         border-radius:50%;
         box-shadow:8px 8px 8px #fff;
         top: 60%;
         left: 77%;
         font-size:20px;
         text-align:center;
         color:#f2cf01;
           label{
            margin-top:40%;
         }
        &:hover{
         background-color:pink;
       }
    }
     a:focus{
     outline: none; 
  }
  
}
}
/*******tabよこ*************************/
@media screen and (min-width: 830px) and (max-width: 1023px) {
     #post_link {
    
     a{
       width:120px;
    height:120px;
    background-color:#0074bf;
    box-shadow:8px 8px 8px #fff;
     position: absolute;
     border-radius:50%;
     text-align:center;
     top: 60%;
     left: 2%;
     font-size:20px;
     color:#f2cf01;
     &:hover{
         background-color:pink;
     }
     label{
         margin-top:40%;
        
     }
  }
  a:focus{
     outline: none; 
  }
}
#weight_link{
   
     a{
        width:120px;
        height:120px;
        background-color:#0074bf;
        box-shadow:8px 8px 8px #fff;
        position: absolute;
        border-radius:50%;
        text-align:center;
        top: 60%;
        left: 27%;
        font-size:20px;
        color:#f2cf01;
         label{
         margin-top:40%;
         }
     &:hover{
         background-color:pink;
     }
   }
    a:focus{
     outline: none; 
  }
}
#search_link{
   
     a{
         width:120px;
        height:120px;
        background-color:#0074bf;
        box-shadow:8px 8px 8px #fff;
         position: absolute;
         border-radius:50%;
         text-align:center;
         top: 60%;
         left: 52%;
         font-size:20px;
         color:#f2cf01;
          label{
            margin-top:40%;
         }
     
     &:hover{
         background-color:pink;
     }
    }
     a:focus{
     outline: none; 
  }
}
#log_link{
   
     a{
         width:120px;
         height:120px;
         background-color:#0074bf;
         position: absolute;
         border-radius:50%;
         box-shadow:8px 8px 8px #fff;
         top: 60%;
         left: 77%;
         font-size:20px;
         text-align:center;
         color:#f2cf01;
           label{
            margin-top:40%;
         }
        &:hover{
         background-color:pink;
       }
    }
     a:focus{
     outline: none; 
  }
}
}
/***********small pc************************/
@media screen and (min-width: 1023px) and (max-width: 1100px) {
     #post_link {
    
     a{
       width:210px;
    height:210px;
    background-color:#0074bf;
    box-shadow:8px 8px 8px #fff;
     position: absolute;
     border-radius:50%;
     text-align:center;
     top: 60%;
     left: 1%;
     font-size:20px;
     color:#f2cf01;
     &:hover{
         background-color:pink;
     }
     label{
         margin-top:40%;
        
     }
  }
  a:focus{
     outline: none; 
  }
}
#weight_link{
   
     a{
        width:210px;
        height:210px;
        background-color:#0074bf;
        box-shadow:8px 8px 8px #fff;
        position: absolute;
        border-radius:50%;
        text-align:center;
        top: 60%;
        left: 26%;
        font-size:20px;
        color:#f2cf01;
         label{
         margin-top:40%;
         }
     &:hover{
         background-color:pink;
     }
   }
    a:focus{
     outline: none; 
  }
}
#search_link{
   
     a{
         width:210px;
        height:210px;
        background-color:#0074bf;
        box-shadow:8px 8px 8px #fff;
         position: absolute;
         border-radius:50%;
         text-align:center;
         top: 60%;
         left: 51%;
         font-size:20px;
         color:#f2cf01;
          label{
            margin-top:40%;
         }
     
     &:hover{
         background-color:pink;
     }
    }
     a:focus{
     outline: none; 
  }
}
#log_link{
   
     a{
         width:210px;
         height:210px;
         background-color:#0074bf;
         position: absolute;
         border-radius:50%;
         box-shadow:8px 8px 8px #fff;
         top: 60%;
         left: 76%;
         font-size:20px;
         text-align:center;
         color:#f2cf01;
           label{
            margin-top:40%;
         }
        &:hover{
         background-color:pink;
       }
    }
     a:focus{
     outline: none; 
  }
}
}


