// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ユーザー情報テーブル */



.user-table {
  vertical-align: middle;
  text-align: center;
}

.label-signup {
  margin-top: 5px;
}
/* 新規登録画面 */
#user_new_h1{
    color:#f0f0f0;
    font-weight:bold;
    font-family:'Impact';
}
#new_user_area{
    width:60%;
    height:480px;
    background-color:#fff;
    margin-left:20%;
    border-radius:9px;
    padding-top:8px;
}
#new_user_back{
  margin-top:5px;
  text-align:center;
}
/* /新規登録画面 */
.btn-signup {
  margin-top: 20px;
}
/* *****************************************:スマートフォン処理********************************* */
@media screen and (max-width: 767px){
  /* /新規登録画面 */
  #new_user_head{
    margin-top:300px;
  }
  #new_user_area{
    width:100%;
    margin:0;
  }
  /* /新規登録画面 */
}